#memory-game td img {
  height: 100%;
  width: 100%;
}

#memory-game {
  display: block;
  margin: 0 auto;
}
td {
  background: red;
  padding: 2em;
}
.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
/* .card:hover {
  transform: rotateY(180deg);
} */
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}
.card-flip {
  transform: rotateY(180deg);
}

