body {
    background-color: #a9bcd0;
}

header {
background-color: #415a77;
}

logo {
    margin-right 50%;
    padding: 0;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;


}

#navcontainer ul li { 
    display: inline; 
    padding: 1em;
}



#navcontainer ul li a
{
text-decoration: none;
padding: 1em;
color: #fff;
background-color: lightseagreen;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
padding: 1em;
}

h1
{
    
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}