* {
  box-sizing: border-box;
}

body {
  background-color: #a9bcd0;
}  

.deck {
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 1px #444;
  margin:1em;
}

.card {
  border:1px solid #ccc;
  display:table-cell;
  border-spacing:.5em;
  padding:0;
  position:relative;
}

.card header {
  background:#eee;
  font-size:1.75em;
  font-weight:bold;
  padding:.25em;
}

.card figure {
  border:1px solid #ccc;
  display:block;
  margin:1em auto;
}

.card figure figcaption {
  padding:.5em;
  text-align:center;
}
section.about-me {
  text-align: center;
}

logo {
  margin-right: 50%;
  padding: 0;
}
div.ex {
  background-color:  lightblue;
  display: inline-block;
  width: 500px;
  height: 500px;
  vertical-align: middle;
}
div.ex img {
  width: 300px;
  height: 300px;
}

header {
  background-color: #171D1C;
}
header img {
  width: 500px;
  margin: 0 auto;
  display: block;
}

header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #004777;
  z-index: 1;
}

#navcontainer ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
padding-top: 4px;
}

#navcontainer ul li { 
  display: inline; 
  padding: 1em;
  padding-top: 3px;
}

#navcontainer ul li a {
text-decoration: none;
padding: 1em;
color: #fff;
background-color: lightseagreen;
padding-top: 3px;
}

#navcontainer ul li a:hover {
color: #fff;
background-color: #369;
padding: 1em;
padding-top: 3px;
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
height: 250px;
width: 250px;
}

header img {
width: 500px;
margin: 0 auto;
display: block;
}
header nav {
position: fixed;
right: 0;
top: 0;
background: #004777;
}
header nav ul {
margin: 0;
padding: 0;
}
header nav ul li {
display: inline-block;
list-style-type: none;
padding: 1.1em;
transition: all .3s ease;
}
header nav ul li:hover {
background: #171D1C;
}
header nav ul li a {
font-size: 1em;
font-weight: 700;
color: white;
text-decoration: none;
text-transform: uppercase;
}
nav#game-status-bar {
text-align: center;
}
nav#game-status-bar ul {
padding: 0;
}
nav#game-status-bar ul li {
display: inline-block;
    font-size: 2em;
  font-weight: 900;
}

h1, h2, h3, p, a, li {
  font-family: 'Cabin', sans-serif;
}

h1 {
font-size: 32px;
line-height: 2em;
}

h2 {
font-size: 24px;
line-height: 1.5em;
}

img#IndexLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em;
  width: 600px;
 }

#player h1 {
  font-family: 'Cabin Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
text-decoration-color: #415a77;
text-shadow: 0 2px whitesmoke;
}
div#sign-in-div {
  text-align: center;
}

div#sign-in-div select {
  display: block;
  margin: auto;
}


div#player input#player-name {
display: block;
font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;  
}

div#buttons {
  display: block;
  margin-top: 4.5em;
  text-align: center
}

button#submit-play, #results {
background-color: #415a77;
display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    padding: .5em 5em;
    text-decoration-color: whitesmoke;
}

#results {
  display: none;
}

div#footer {
  font-size: 10px;
  margin-top: 5em;
  text-align: center;
} 

p {
line-height: 1.25em;
}

  h1 {
    font-size: 32px;
    line-height: 2em;
  }
  
  h2 {
    font-size: 24px;
    line-height: 1.5em;
  }
  
div#prod-page-title {
text-align: center;
}

div.product-container {
background-color: #0B4F6C;
box-shadow: 5px 5px #415A77;
color: #E8F1F2;
display: inline-block;
margin: 1.5em 8em;
padding: 1em;
}
div.prod-img-container {
float: left;
margin: .5em 1em .5em .5em;
border: .25em solid #A9BCD0;
padding: .25em;
background-color: #415A77;
}

div.prod-img-container img {
width: 180px;
height: auto;
}
div.prod-img-container img:hover {
  cursor: pointer;
}

div#full-prod-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
/* taken from https://css-tricks.com/centering-css-complete-guide/ */
div#full-prod-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-height: 35em;
  max-width: 35em;
  transform: translate(-50%, -50%);
}

#full-prod-img svg {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size:3em;
  color: white;
}

.fade-in {
 animation-name: fadein;
 animation-duration: .5s;
 animation-timing-function: ease;
}
@-webkit-keyframes fadein {
 0% {opacity: 0;}
 
 100% {opacity: 1;}
}

#myInput {
  background-image: url('../img/search-icon.png');
  background-position: 8px;
  background-size: 30px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 2em 8em;
}

div#results-display-text {
  margin-top: 5em;
  text-align: center;
  }

  div #results-display-text h1 {
  font-family: 'Cabin Condensed', sans-serif;
  text-align: center;
  text-decoration-color: #415a77;
  text-shadow: 0 2px whitesmoke;
  }

  div #results-graphs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}